[data-component='layout-empty'].layout-empty {
  .flex-column-center();

  width: 100%;
  height: 100%;

  .layout {
    &-img {
      width: 230px;
      height: 200px;
    }

    &-text {
      font-size: 14px;
      color: #292a32;
    }
  }
}
