import React, { Component, Fragment } from 'react';
import LayoutList from '@/Layout/LayoutList';
import { {{#if search}}Form, Input, {{/if}}{{#if headerOrSearch}}Button, {{/if}}{{#if tabs}}Tabs, {{/if}}Table } from 'antd';

{{#if search}}
const { Item } = Form;
{{/if}}
{{#if tabs}}
const { TabPane } = Tabs;
{{/if}}
const { Column } = Table;
const pagination = {
  size: 'small',
  total: null,
  showSizeChanger: true,
  showQuickJumper: true
};

export default class {{properCase ename}} extends Component {
  state = {
    query: {
      keyword: ''
    },
    data: []
  };

  onSearch = (data) => {
    console.log(data);
  };

  onChange = (data) => {
    console.log(data);
    this.fetchList();
  };

  fetchList = () => {
    console.log('获取列表数据');
  };

  render() {
    const { {{#if search}}query, {{/if}}data } = this.state;
    return (
      <LayoutList title="{{cname}}">
        {{#if header}}
        <Fragment key="header">
          <Button type="primary">添加</Button>
        </Fragment>
        {{/if}}
        {{#if search}}
        <Fragment key="search">
          <Form layout="inline" onFinish={this.onSearch}>
            <Item label="关键字">
              <Input value={query.keyword} placeholder="请输入" />
            </Item>
            <Item>
              <Button type="primary">查询</Button>
            </Item>
            <Item>
              <Button>重置</Button>
            </Item>
          </Form>
        </Fragment>
        {{/if}}
        {{#if tabs}}
        <Fragment key="tabs">
          <Tabs defaultActiveKey="1">
            <TabPane tab="全部" key="1"></TabPane>
            <TabPane tab="待收货" key="2"></TabPane>
          </Tabs>
        </Fragment>
        {{/if}}
        <Fragment key="content">
          <Table
            dataSource={data}
            pagination={pagination}
            rowKey="id"
            onChange={this.onChange}
          >
            <Column title="Name" dataIndex="name" />
            <Column title="Age" dataIndex="age" />
            <Column title="Action" render={() => <a>Delete</a>} />
          </Table>
        </Fragment>
      </LayoutList>
    );
  }
}
