import React, { Component } from 'react';
import './index.less';

export default class {{properCase name}} extends Component {
  render() {
    return (
      <div className="{{name}}" data-component="{{name}}">
        {{properCase name}}
      </div>
    );
  }
}
